/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*

Global Styles

*/

:root {
  --main-bg-color: #35363a;
  --header-bg-color: #f0f0f0;
  --main-tx-color: #000;
  --input-bg-color: #f0f0f0;
  --submit-bg-color: #f2b05e;
  --copy-bg-color: #c73e3e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  line-height: 1.6;
  background-color: var(--main-bg-color);
  color: var(--main-tx-color);
}

h1 {
  color: var(--main-tx-color);
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

a {
  color: var(--main-tx-color);
  text-decoration: none;
}

a:hover {
  color: var(--submit-bg-color);
}

/*

Utilities

*/

.container {
  max-width: 1400px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 20px;
}

/*

Navbar

*/

.navbar {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(242, 176, 94, 1) 0%,
    rgba(185, 47, 47, 1) 100%
  );
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.navbar ul {
  display: flex;
  font-size: 2.2rem;
  font-weight: bold;
  padding: 0 4px;
}

.navbar ul li a {
  padding: 12px;
  text-align: center;
}

.navbar ul li a:hover {
  border-bottom: 2px solid var(--submit-bg-color);
}

/*

numbers page

*/

.header-secondary {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  padding: 30px 0;
}

/* 

Media Queries

*/

@media (max-width: 1180px) {
  .navbar h1 {
    margin: 0 auto;
  }
  .flex-container {
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }
  .navbar ul {
    margin: 0 auto;
  }
}

@media (max-width: 1029px) {
  .navbar ul {
    padding-top: 20px;
  }
}

@media (max-width: 750px) {
  .navbar ul {
    font-size: 1.9rem;
  }
}

@media (max-width: 680px) {
  .navbar ul {
    font-size: 1.7rem;
    padding: 20px 0;
  }
  .navbar ul li a {
    padding: 10px;
    text-align: center;
  }
}

@media (max-width: 602px) {
  .navbar ul {
    font-size: 1.6rem;
  }
}

@media (max-width: 579px) {
  .navbar ul {
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  .flex-container {
    width: 100%;
  }
  .navbar ul {
    padding: 0;
  }
  .navbar ul li a {
    padding: 5px;
  }
}

@media (max-width: 400px) {
  .navbar ul {
    font-size: 1.3rem;
  }
}
